services:

  traefik:
    image: traefik:v2.10
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--api.insecure=true"
    ports:
      - "80:80"
      - "8088:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - app-network

  frontend:
    container_name: frontend
    build:
      context: ./frontend
    ports:
      - "8080:8080"
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`localhost`)"
      - "traefik.http.routers.frontend.entrypoints=web"
      - "traefik.http.services.frontend.loadbalancer.server.port=8080"
    networks:
     - app-network
    depends_on:
      - auth-api
      - todos-api

  auth-api:
    container_name: auth-api
    build:
      context: ./auth-api
    ports:
      - "8081:8081"
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.auth-api.rule=Host(`localhost`) && PathPrefix(`/api/auth`)"
      - "traefik.http.routers.auth-api.entrypoints=web"
      - "traefik.http.services.auth-api.loadbalancer.server.port=8081"
      - "traefik.http.middlewares.auth-api-strip.stripprefix.prefixes=/api/auth"
      - "traefik.http.routers.auth-api.middlewares=auth-api-strip"
    networks:
      - app-network
    depends_on:
      - users-api

  todos-api:
    container_name: todos-api
    build:
      context: ./todos-api
    ports:
      - "8082:8082"
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.todos-api.rule=Host(`localhost`) && PathPrefix(`/api/todos`)"
      - "traefik.http.routers.todos-api.entrypoints=web"
      - "traefik.http.services.todos-api.loadbalancer.server.port=8082"
      - "traefik.http.middlewares.todos-api-strip.stripprefix.prefixes=/api/todos"
      - "traefik.http.routers.todos-api.middlewares=todos-api-strip"
    networks:
      - app-network
    depends_on:
      - redis-queue

  users-api:
    container_name: users-api
    build:
      context: ./users-api
    ports:
      - "8083:8083"
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.users-api.rule=Host(`localhost`) && PathPrefix(`/api/users`)"
      - "traefik.http.routers.users-api.entrypoints=web"
      - "traefik.http.services.users-api.loadbalancer.server.port=8083"
      - "traefik.http.middlewares.users-api-strip.stripprefix.prefixes=/api/users"
      - "traefik.http.routers.users-api.middlewares=users-api-strip"
    networks:
      - app-network

  log-message-processor:
    build:
      context: ./log-message-processor
    env_file:
      - .env
    networks:
      - app-network
    depends_on:
      - redis-queue

  redis-queue:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

  # zipkin:
  #   image: openzipkin/zipkin
  #   ports:
  #     - "9411:9411"
  #   networks:
  #     - app-network

networks:
  app-network:
    driver: bridge

volumes:
  redis-data: