version: "3.9"
services:
  frontend:
    labels:
      - "traefik.http.routers.frontend.rule=Host(`{{ domain }}`)"
  
  auth-api:
    labels:
      - "traefik.http.routers.auth-api.rule=Host(`{{ domain }}`) && PathPrefix(`/api/auth`)"
  
  todos-api:
    labels:
      - "traefik.http.routers.todos-api.rule=Host(`{{ domain }}`) && PathPrefix(`/api/todos`)"
  
  users-api:
    labels:
      - "traefik.http.routers.users-api.rule=Host(`{{ domain }}`) && PathPrefix(`/api/users`)"